ion-grid{
    ion-row{
        ion-col{
            border: 1px solid gray;
            text-align: center;
        }
    }
    ion-row.header{
        background: #000;
        color:#fff;
        ion-col {
            border: 0px solid gray;
        }
    }
}
.success-btn{
    width: 100%;
}
